        #Based on:https://gist.github.com/curi0usJack/971385e8334e189d93a6cb4671238b10 and https://bluescreenofjeff.com
        #Change with sudo sed -i -e 's/replaceme/{Where to send to whenblock}/g'
        #Also if you dont want the whitelist page to be replaceme_Allowed you need to sed change that also
	#REF: https://bluescreenofjeff.com/2016-12-23-apache_mod_rewrite_grab_bag/
	
	RewriteEngine on
      	RewriteOptions Inherit
      	ServerSignature Off
	
	ErrorDocument 404 http://Google.com/
	
        #Time based access
        RewriteCond %{TIME_HOUR}%{TIME_MIN} <0600
        RewriteCond %{TIME_HOUR}%{TIME_MIN} >1800
        RewriteRule ^.*$ replaceme [L]

        #Day of week based access
        RewriteCond %{TIME_WDAY} =0
        RewriteCond %{TIME_WDAY} =6
        RewriteRule ^.*$ replaceme [L]

        RewriteCond %{REQUEST_METHOD} !^(GET|POST)
        RewriteRule ^.*$ http://Google.com/ [L]

        #User agent strings for windows native tools
        RewriteCond %{HTTP_USER_AGENT} "bits|WindowsPowerShell" [NC,OR]
        RewriteRule ^.*$ replaceme [L]

        #User agent string for native compiled software Libs and Linux tools
        RewriteCond %{HTTP_USER_AGENT} "python|java|linux|wget|curl|.net|CLR|OpenBSD|git" [NC,OR]
        RewriteRule ^.*$ replaceme [L]

        #mobile user agents
        RewriteCond %{HTTP_USER_AGENT} "iPhone|android|Nexus|blackberry|googlebot-mobile|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
        RewriteRule ^.*$ replaceme [L]

        #BLACKLISTED USER AGENT STRINGS
        RewriteCond %{HTTP_USER_AGENT} "Opera|zh-cn|Mac OS X|CampNet|InfoPath|MSIE|X11|Darwin|Presto|CampNet|Gh0st|virustotalcloud|adobe|BlackWidow|Banner|Dalvik|ChinaClaw|Custo|DISCo|eCatch|EirGrabber|EmailSiphon|EmailWolf|WebPictures|ExtractorPro|EyeNetIE|GetWeb|GetRight|Zeus|SiteSnagger|SuperBot|SuperHTTP|Surfbot|WebAuto|WebCopier|WebSpider|zgrab|X11|OpenBSD|Googlebot|python|java|linux|wget|curl|.net|git|virustotalcloud|Gh0st|OS x|Lynx|Slackbot|nmap|cloudfront|clshttp|archiver|sparta|loader|email|nikto|nessus|rapid|Qualys|vas|miner|sparta|HTTrack|crawl|shell|yahoo|google|bot|b\-o\-t|spider|baidu" [NC]
        RewriteCond %{HTTP_USER_AGENT} =""
	RewriteRule ^.*$ replaceme [L]

        #Not allowed post
        RewriteCond %{REQUEST_METHOD} !^(GET|POST)
        RewriteRule ^.*$ http://Google.com [L]
	
	#Unwanted refers
	RewriteCond %{HTTP_REFERER} google\.com [OR]
	RewriteCond %{HTTP_REFERER} bing\.com [OR]
	RewriteCond %{HTTP_REFERER} yahoo\.com [OR]
	RewriteCond %{HTTP_REFERER} duckduckgo\.com [OR]
 	RewriteCond %{HTTP_REFERER} virustotal\.com [OR]
 	RewriteCond %{HTTP_REFERER} paypal\.com [OR]
	RewriteCond %{HTTP_REFERER} firefox\.com
	RewriteRule ^.*$ replaceme [F]
	
	#Below is where to send something if it hits a GOOD condiditon to forward on
        #RewriteCond %{HTTP_USER_AGENT} "windows nt" [NC]
        #RewriteRule ^.*$ replaceme_Allowed [L]
	
	#Whitelisted Cert Validation Services
        #RewriteCond %{HTTP_USER_AGENT} "COMODO DCV" [NC]
        #RewriteRule ^.*$ replaceme_Allowed [L]
