	 ServerSignature Off
	 Options -Indexes
	 order allow,deny

	#User agent strings for windows native tools
	RewriteCond %{HTTP_USER_AGENT} "bits|bitsadmin|WindowsPowerShell|certutil|adobe" [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} =""
	RewriteRule ^.*$ replaceme [L]
	 
	#mobile user agents
	RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iPhone|googlebot-mobile|Kindle|Nintendo|PlayStation|Windows Phone|XBOX_ONE_ED|AppleTV|Roku|CrOS|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#If useragent contains below filter with catch at bottom
	RewriteCond %{HTTP_USER_AGENT} "Firefox/3.6.8|Safari|OS x|-|HTTP Banner Detection|Lynx|Slackbot|nmap|burp|cloudfront|bingbot|clshttp|archiver|sparta|loader|email|nikto|nessus|rapid|Qualys|vas|miner|sparta|HTTrack|crawl|shell|yahoo|google|bot|b\-o\-t|spider|baidu" [NC]
	RewriteRule ^.*$ replaceme [L]
	
	#Dont scan or crawl me bra section
	RewriteCond %{HTTP_USER_AGENT} "zgrab|+|X11|OpenBSD|Googlebot|python|java|linux|wget|curl|.net|git|virustotalcloud|Gh0st" [NC,OR]
	RewriteRule ^.*$ replaceme [L]
	
	 #LogLevel alert rewrite:trace3
	 #Time based access	 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} <0600 
	 RewriteCond %{TIME_HOUR}%{TIME_MIN} >1800
	 RewriteRule ^.*$ replaceme [L]
	
	#Day of week based access
	 RewriteCond %{TIME_WDAY} =0
	 RewriteCond %{TIME_WDAY} =6
	 RewriteRule ^.*$ replaceme [L]
	
	#Not allowed post
	RewriteCond %{REQUEST_METHOD} !^(GET|POST)
	RewriteRule ^.*$ replaceme [L]
	 
	 RewriteCond %{HTTP_REFERER} google\.com [OR]
	 RewriteCond %{HTTP_REFERER} bing\.com [OR]
	 RewriteCond %{HTTP_REFERER} yahoo\.com [OR]
	 RewriteCond %{HTTP_REFERER} duckduckgo\.com [OR]
	 RewriteCond %{HTTP_REFERER} virustotal\.com [OR]
	 RewriteCond %{HTTP_REFERER} paypal\.com [OR]
	 RewriteCond %{HTTP_REFERER} firefox\.com
	 RewriteRule ^.*$ replaceme [F]
	 
	 
	#User agent string for native compiled software Libs and Linux tools
	RewriteCond %{HTTP_USER_AGENT} ^googlebot [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Custo [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^HMView [OR] 
	RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR] 
	RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR] 
	RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^larbin [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Wget [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Widow [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR] 
	RewriteCond %{HTTP_USER_AGENT} ^Zeus 
	RewriteCond %{HTTP_USER_AGENT} =""
	RewriteRule ^.*$ replaceme [L]
	
	#Below is what happend is blcklist above is hit
	#RewriteRule ^.*$ replaceme [L,R=302]
	#RewriteRule ^.*$ replaceme [L]
